body {
  background-color: #d9d9d9;
  margin: 0; /* Remova a margem padrão do corpo para evitar espaçamento indesejado */
  overflow: hidden; /* Para ocultar o overflow dos elementos posicionados absolutamente */
}

.imagem img {
  max-width: 30rem;
  border-radius: 5%;
  position: absolute;
  top: 150px; /* Ajuste a posição vertical */
  right: 100px;
  z-index: 1;
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
  margin-top: 10rem;
  margin-left: 2rem;
}

input {
  max-width: 3rem;
  border-radius: 10%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.simulador {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 5%;
  width: 500px;
  margin-left: 2rem;
}

.quadrado {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 100px; /* Ajuste a posição vertical */
  right: 50px;
  background: linear-gradient(to left, #69b99d, transparent);
  z-index: -1;
  border-radius: 5%;
}

#resultado {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
  margin-left: 2rem;
}
