body {
  background-color: #d9d9d9;
  margin: 0; /* Remova a margem padrão do corpo para evitar espaçamento indesejado */
  overflow: hidden; /* Para ocultar o overflow dos elementos posicionados absolutamente */
}

.imagem img {
  max-width: 30rem;
  border-radius: 5%;
  position: absolute;
  top: 20%; /* Ajuste a posição vertical */
  right: 6%;
  z-index: 1;
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
  margin-top: 10rem;
  margin-left: 2rem;
}

input {
  max-width: 3rem;
  border-radius: 10%;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
}
button {
  width: 7rem;
  height: 1.5rem;
  background: #005376;
  color: white;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background: #006d9b;
}

.simulador {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 5%;
  width: 500px;
  margin-left: 2rem;
}

.quadrado {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 15%; /* Ajuste a posição vertical */
  right: 3%;
  background: linear-gradient(to left, #69b99d, transparent);
  z-index: -1;
  border-radius: 5%;
}

#resultado {
  margin-top: 1rem;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
  margin-left: 2rem;
}
